<!DOCTYPE html>
<html>
   <head>
      <title>AnimeQ</title>
      <meta name="viewport" content="with=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../public/css/main.css">
      <script src="../app.js"></script>
   </head>
   <body>
    <header >
        <a class="logo" href="index.html"><img src="../public/images/logo.png" alt=""></a>
        <form action="trending.html" ><button >Trending</button></form>
        <form action="search.html"><button>Search</button></form>
    </header>
    <main class= "home">       
        <h1>LET THE ADVENTURE BEGIN!</h1>
        <img class= "landingPage" src="../public/images/landing.png" width="1200" height="500" alt="landingpage"> 
    </main>
    
    <footer >
        <p>Copyright &#169; 2022 MYAT WIN. All rights reserved</p>
        <a href="index.html">Home</a>
    </footer>   </body>
</html>