<!DOCTYPE html>
<html>
   <head>
      <title>Search</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <meta name="viewport" content="with=device-width, initial-scale=1.0">
      <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="../public/css/main.css">
      <script src="../app.js"></script>
        
   </head>
   <body>
    <header >
      <a class="logo" href="index.html"><img src="../public/images/logo.png" alt=""></a>
        <form action="trending.html" ><button >Trending</button></form>
        <form action="search.html"><button>Search</button></form>
    </header>
    <main class= "search">       
    <body>
    
        <nav class="row">
            <div class="nav-wrapper">
                <div class="col s12">
                    <a href="#" class="brand-logo">WorldWideWeebs</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                    </ul>
                </div>
            </div>
        </nav>
        <div class="text-box-anime">
            <input id="animeID" placeholder=" Or search for your favorites..." type="text" class="anime-input-box">
            <input type="button" value="Go!" onclick="searchAnime();" ></button>
        </div>
        <div id="search-results" class="container">
   
        </div>
          
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
    </main>
    
    <footer >
        <p>Copyright &#169; 2022 MYAT WIN. All rights reserved</p>
        <a href="index.html">Home</a>
    </footer>   </body>
</html>